/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/

/*------------------------------------------------------------------
[ Bootstrap ]*/
.container {
    max-width: 1380px;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

/*------------------------------------------------------------------
[ Slick2 ]*/
.slick-slide {
    outline: none !important;
}