/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
    font-family: Poppins-Regular;
    src        : url('/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src        : url('/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-ExtraLight;
    src        : url('/fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src        : url('/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Italic;
    src        : url('/fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src        : url('/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src        : url('/fonts/Poppins/Poppins-SemiBold.ttf');
}


/*---------------------------------------------*/
@font-face {
    font-family: PlayfairDisplay-Regular;
    src        : url('/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src        : url('/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf');
}

/*---------------------------------------------*/
@font-face {
    font-family: Montserrat-Regular;
    src        : url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src        : url('/fonts/Montserrat/Montserrat-Bold.ttf');
}