/*//////////////////////////////////////////////////////////////////
[ BUTTON BACK TO TOP ]*/
.btn-back-to-top {
    display           : none;
    position          : fixed;
    width             : 40px;
    height            : 38px;
    bottom            : 0px;
    right             : 40px;
    background-color  : #717fe0;
    opacity           : 0.5;
    justify-content   : center;
    align-items       : center;
    z-index           : 1000;
    cursor            : pointer;
    transition        : all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition     : all 0.4s;
    -moz-transition   : all 0.4s;
}

.symbol-btn-back-to-top {
    font-size  : 25px;
    color      : white;
    line-height: 1em;
}

.btn-back-to-top:hover {
    opacity         : 1;
    background-color: #717fe0;
}

@media (max-width: 575px) {
    .btn-back-to-top {
        bottom: 0px;
        right : 15px;
    }
}