/*//////////////////////////////////////////////////////////////////
[ Header cart ]*/
.wrap-header-cart {
    position        : fixed;
    z-index         : 1100;
    width           : 100%;
    height          : 100vh;
    top             : 0;
    right           : 0;
    background-color: rgba(0, 0, 0, 0.0);
    visibility      : hidden;

    -webkit-transition: all 0.4s;
    -o-transition     : all 0.4s;
    -moz-transition   : all 0.4s;
    transition        : all 0.4s;
}

.header-cart {
    position        : fixed;
    z-index         : 1100;
    width           : 390px;
    max-width       : calc(100% - 30px);
    height          : 100vh;
    top             : 0;
    right           : -400px;
    background-color: #fff;

    -webkit-transition: all 0.4s;
    -o-transition     : all 0.4s;
    -moz-transition   : all 0.34;
    transition        : all 0.4s;

    box-shadow        : 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow   : 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow     : 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow    : 0 3px 6px 0px rgba(0, 0, 0, 0.18);

    &::after {
        content   : "";
        display   : block;
        width     : 100%;
        height    : 9%;
        min-height: 30px;
    }
}


.show-header-cart {
    visibility      : visible;
    background-color: rgba(0, 0, 0, 0.6);

    .header-cart {
        right: 0;
    }
}