/*//////////////////////////////////////////////////////////////////
[ Block2 ]*/

.block2-pic {
    position: relative;
}

.block2-btn {
    position         : absolute;
    bottom           : -50px;
    left             : 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform   : translateX(-50%);
    -ms-transform    : translateX(-50%);
    -o-transform     : translateX(-50%);
    transform        : translateX(-50%);
}

.block2-pic:hover .block2-btn {
    bottom: 20px;
}

/*---------------------------------------------*/
.block2-txt-child1 {
    width: calc(100% - 30px);
}

.block2-txt-child2 {
    width: 30px;
}