/*//////////////////////////////////////////////////////////////////
[ Block1 ]*/

.block1 {
    position: relative;
    border  : 1px solid #e6e6e6;
}

.block1-txt {
    background-color: rgba(103, 117, 214, 0.0);
}

/*---------------------------------------------*/
.block1-name {
    color         : #333;
    text-transform: capitalize !important;
}

.block1-info {
    color         : #555;
    text-transform: capitalize !important;
}

/*---------------------------------------------*/
.block1-txt-child2 {
    border-bottom    : 2px solid #fff;
    overflow         : hidden;
    -webkit-transform: scaleX(0);
    -moz-transform   : scaleX(0);
    -ms-transform    : scaleX(0);
    -o-transform     : scaleX(0);
    transform        : scaleX(0);
}

.block1-link {
    -webkit-transform: translateY(250%);
    -moz-transform   : translateY(250%);
    -ms-transform    : translateY(250%);
    -o-transform     : translateY(250%);
    transform        : translateY(250%);
}

/*---------------------------------------------*/
.block1-txt:hover {
    background-color: rgba(103, 117, 214, 0.8);

    .block1-txt-child2 {
        -webkit-transform: scaleX(1);
        -moz-transform   : scaleX(1);
        -ms-transform    : scaleX(1);
        -o-transform     : scaleX(1);
        transform        : scaleX(1);
    }

    .block1-link {
        -webkit-transform: translateY(0%);
        -moz-transform   : translateY(0%);
        -ms-transform    : translateY(0%);
        -o-transform     : translateY(0%);
        transform        : translateY(0%);
    }

    .block1-name,
    .block1-txt:hover .block1-info {
        color         : #fff;
        text-transform: capitalize;
    }
}

/* --------------------
Team 
---------------------------------*/

.team-block {
    position: relative;
    border  : 1.5px solid #e6e6e6;

    .haron-block-txt {
        background-color: rgba(103, 117, 214, 0.0);
        text-transform  : capitalize !important;

        &:hover {
            background-image: url('/storage/teams/hover/haron.png');
            background-size : cover;


            .block1-txt-child2 {
                background-color : rgba(103, 117, 214, 0.8);
                padding          : 1rem;
                width            : 100%;
                -webkit-transform: scaleX(1);
                -moz-transform   : scaleX(1);
                -ms-transform    : scaleX(1);
                -o-transform     : scaleX(1);
                transform        : scaleX(1);
            }

            .block1-link {
                -webkit-transform: translateY(0%);
                -moz-transform   : translateY(0%);
                -ms-transform    : translateY(0%);
                -o-transform     : translateY(0%);
                transform        : translateY(0%);
            }

            .block1-name,
            .block1-txt:hover {
                .block1-info {
                    color: $white-color;
                }
            }

            .haron-block-info {
                color: $white-color;
            }
        }
    }

    .obare-block-txt {
        background-color: rgba(103, 117, 214, 0.0);

        &:hover {
            background-image: url('/storage/teams/hover/obare.png');
            background-size : cover;
        }
    }

    .carol-block-txt {
        background-color: rgba(103, 117, 214, 0.0);

        &:hover {
            background-image: url('/storage/teams/hover/carol.png');
            background-size : cover;
        }
    }
}