/*==================================================================
[ Fixed menu desktop ]
======================================================================*/

.fix-menu-desktop {
    .wrap-menu-desktop {
        height            : 70px;
        background-color  : rgba(255, 255, 255, 1);
        box-shadow        : 0 0px 3px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow   : 0 0px 3px 0px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
        -o-box-shadow     : 0 0px 3px 0px rgba(0, 0, 0, 0.2);
        -ms-box-shadow    : 0 0px 3px 0px rgba(0, 0, 0, 0.2);
        .menu-desktop{
            li{
                a{
                    color: #222;
                }
                .active-menu{
                    color: $hover-color;
                }
            }
        }
        .icon-header-item{
            i{
                color: #222;
                &:hover{
                    color: $active;
                }
            }
        }
    }
}

.header-v2 {
    .fix-menu-desktop {
        &.container-menu-desktop {
            height: 70px;
        }
    }
}

.header-v3 {
    .fix-menu-desktop {
        .wrap-menu-desktop {
            background-color: #222;
            border-color    : #222;
        }
    }
}

.header-v4 {
    .fix-menu-desktop {
        &.container-menu-desktop {
            height: 110px;
        }
    }
}

/*---------------------------------------------*/
.main-menu>li.active-menu>a {
    color: $active;
}