$main-color: '';
$nav-color: #333;
$white-color: #fff;
$black-color: #000;
$hover-color: #6c7ae0;
$sub-menu: #555;
$tobbar-color: #222;
$left-topbar-color: #b2b2b2;
$active: #6c7ae0;
$base-color-1: #01a6fd;
$base-color-2: #17d0cf;
$black: #333333;


$base-color-2: #17d0cf;
$white: #fff;