span {
    &.content {
        background: yellow;
    }
}

div {
    &.about-content {
        margin-top : 3rem;
        font-size  : large;
        font-weight: 200;
        text-align : justify;
    }


    &.apply-content {
        padding   : 10px;
        text-align: justify;

        ul {
            list-style-type: none;
            padding        : 0;
            text-align     : justify;

            li {
                padding     : 8px 0;
                padding-left: 2.5rem;
                position    : relative;

                &::not(:last-child) {
                    margin-bottom: 10px;
                }

                &::before {
                    content     : '\2022';
                    /* Unicode character for a bullet point */
                    color       : #000;
                    /* Set the color of the bullet point */
                    font-size   : 18px;
                    margin-right: 10px;
                }

                a {
                    text-decoration: none;
                    color          : #333;
                    font-weight    : bold;

                    &:hover {
                        color: #007BFF;
                    }
                }
            }
        }
    }

    &.apply-registration {
        margin-top: 1rem;

        .bor10 {
            padding: 1rem;

            a {
                color: $white-color;
            }
        }
    }

    &.instructors-badge {
        text-align : justify;
        font-size  : large;
        padding    : 1.5rem;
        padding-top: 4rem;
    }

    &.instructors-content {
        text-align: justify;
        font-size : large;
        padding   : 2rem;

        ol {
            list-style-type: decimal !important;
            /* or the desired list style type */
            list-style     : none;
            counter-reset  : my-counter;
            /* If you want to use custom counters */

            li {
                position    : relative;
                padding-left: 2.5rem;

                /* Adjust the padding as needed */
                &:before {
                    content          : counter(my-counter) ". ";
                    counter-increment: my-counter;
                    position         : absolute;
                    left             : 0;
                }
            }
        }

        ;
    }
}